.flex-cell {
    display: flex;
    align-items: center;
    min-width: 0;
}

.input-row {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outlined-basic {
    box-sizing: content-box;
}

.barbell-visualization-container {
    padding: 15px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

.barbell-img {
    height: 100%;
    min-width: 0;
    max-width: 100%;
}

.plate-img {
    min-width: 0;
}

.bb-icon {
    height: 20px;
    transform: rotate(45deg);
    overflow: hidden;
}

.step-btn-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 8px;
}
.step-btn {
    border: none;
    padding: 0 6px;
    margin-right: 5px;
    opacity: 0;
    transition: .25s;
}
.step-btn:hover {
    background: lightgray;
}
.step-btn-wrapper:hover .step-btn {
    opacity: 1;
}
form:hover + .step-btn-wrapper .step-btn {
    opacity: 1;
}